@model ProductShopViewModel
@using System.Linq
@using System.Security.Claims

<div>
    <h3>Recensioner</h3>
    @if (Model.Reviews != null && Model.Reviews.Any())
    {
        @foreach (var review in Model.Reviews)
        {
            <div class="review-container">
                <div class="review-details">
                    <strong>@(review.User != null ? review.User.FullName : "Anonym")</strong> - @review.Date.ToShortDateString()
                    <p>Betyg: @review.Rating</p>
                    <p>Kommentar:<br /> @review.Comment</p>
                </div>

                @if (review.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                {
                    <form method="post" action="@Url.Action("DeleteReview", "Review")" class="delete-form">
                        <input type="hidden" name="reviewId" value="@review.Id" />
                        <button type="submit" class="btn btn-danger">Ta bort</button>
                    </form>
                }

                <hr />
            </div>
        }
    }
    else
    {
        <p>Inga recensioner ännu.</p>
    }
</div>
