@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Receipt";
}
<h2>Kvitto</h2>
<p>Datum: @Model.OrderDate.ToString("yyyy-MM-dd HH:mm")</p>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderItems != null)
        {
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("C")</td>
                </tr>
            }
        }

    </tbody>
</table>

<h4>Total: @Model.TotalPrice.ToString("C")</h4>

<a href="@Url.Action("Index", "Shop")" class="btn btn-primary">Tillbaka till startsidan</a>